{% extends "base.html" %}

{% block title %}
	<title>Positions</title>
{% endblock %}

{% block content %}
  <h1>All Positions: <a class="btn btn-outline-primary" href="{% url 'manager:position-create' %}">+</a></h1>
    {% if position_list %}
      {% for position in position_list %}
      	<ul>
          <li><a href="{% url 'manager:position-detail' pk=position.id %}">{{ position.name }}</a></li>
        </ul>
      {% endfor %}

    {% else %}
      <p>There are no positions in the service.</p>
    {% endif %}
{% endblock %}
