{% extends "base.html" %}

{% block title %}
	<title>Task Types</title>
{% endblock %}

{% block content %}
  <h1>All Tasks types: <a class="btn btn-outline-primary" href="{% url 'manager:task-type-create' %}">+</a></h1>
    {% if task_type_list %}
      {% for task_type in task_type_list %}
      	<ul>
          <li><a href="{% url 'manager:task-type-detail' pk=task_type.id %}">{{ task_type.name }}</a></li>
        </ul>
      {% endfor %}
    {% else %}
      <p>There are no tasks types in the service.</p>
    {% endif %}
{% endblock %}
